%head
  %title Goals Reference Client
  %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
  /[if IE]
    %link{:href=>"/stylesheets/ie.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css" }

%body
  #container
    #header
      %h1 Goals Reference Client
      %p
        A simple front-end for the Goals game service.
    #content
      %h2 Entries
      %table
        %tr
          %td
            %b Name
          %td
            %b Rank
          %td  
            %b Score
        - entries.each do |entry|
          %tr
            %td
              = entry.pup_display_name
            %td
              = entry.rank
            %td  
              = entry.score

